<div class="container" >
	
    <!-- start: PAGE HEADER -->
        <div class="row">
            <div class="col-sm-12">
                
                <!-- start: PAGE TITLE & BREADCRUMB -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#"> <i class="fa fa-home"></i>&nbsp;Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">View Designation</li>
                </ol>
            </div>
        </div>
           
      <table   class="table" id="desigtable">
        <thead>
            <tr>
                <th>Sr No.</th>
                <th>Designation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let desig of desiglist ">
                <td>{{desig.desig_id}}</td>
                <td>{{desig.desig_name}}</td>
                <td>
                    <button (click)="getDesigById(desig.desig_id)" class="btn btn-primary" >Edit</button> 
                </td>
            </tr>
        </tbody>
      </table>
     
   </div>